<mat-grid-list cols="8" rowHeight="90%">
  <mat-grid-tile  colspan="2"></mat-grid-tile>
  <mat-grid-tile  colspan="4">
  <form [formGroup]="formGroup"  >
    <mat-form-field class="input-class">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="nombre" >
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>
    <span class="error_message" *ngIf="formGroup.get('nombre').errors && formGroup.get('nombre').dirty || formGroup.get('nombre').touched">
    <span *ngIf="formGroup.get('nombre').errors?.required" >
      Necesita ingresar un nombre
    </span>
    <span *ngIf="formGroup.get('nombre').errors?.minlength" >
      El nombre debe tener mas de 2 caracteres
    </span>
    <span *ngIf="formGroup.get('nombre').errors?.maxlength" >
      El nombre debe tener menos de 40 caracteres
    </span>
    <span *ngIf="formGroup.get('nombre').errors?.pattern" >
      El nombre solo debe tener letras
    </span>
  </span>
    <mat-form-field class="input-class">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" >
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
    <span class="error_message" *ngIf="formGroup.get('email').errors && formGroup.get('email').dirty || formGroup.get('email').touched">
      <span *ngIf="formGroup.get('email').errors?.required" >
        Necesita ingresar un email
      </span>
      <span *ngIf="formGroup.get('email').errors?.minlength" >
        El email debe tener mas de 13 caracteres
      </span>
      <span *ngIf="formGroup.get('email').errors?.email" >
        El no cumple con ser un emali
      </span>
      <span *ngIf="formGroup.get('email').errors?.maxlength" >
        El email debe tener menos de 70 caracteres
      </span>
    </span>
    <mat-form-field class="input-class">
      <mat-label>Password</mat-label>
      <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <span class="error_message" *ngIf="formGroup.get('password').errors && formGroup.get('password').dirty || formGroup.get('password').touched">
      <span *ngIf="formGroup.get('password').errors?.required" >
        Necesita ingresar un password
      </span>
      <span *ngIf="formGroup.get('password').errors?.minlength" >
        El password debe tener mas de 2 caracteres
      </span>
      <span *ngIf="formGroup.get('password').errors?.maxlength" >
        El password debe tener menos de 100 caracteres
      </span>
    </span>
    <button  mat-raised-button color="primary" (click)="registro()" class="input-class">Grabar Usuario</button>


  </form>


  </mat-grid-tile>
  <mat-grid-tile colspan="2" ></mat-grid-tile>

  </mat-grid-list>
