.input-class{
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 5px;
}

.button-class{
  width: calc(50% - 10px);
  margin: 5px;
}

.error_message{
  color: red;
  margin-left: 30px;
}
