.segundo{
  width: calc(30% - 30px);
  padding:20px;
  position: relative;
  left: calc(65% - 40px);
  top: -460px;


}

.tiene{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  }



